<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.dao.MoviePoolApplyDao">
    <select id="findAll" resultType="MoviePoolApply">
        select * from `MoviePoolApply` order by applytime desc
    </select>
    <select id="findByMpaid" resultType="MoviePoolApply">
        select * from `MoviePoolApply`  where mpaid=#{mpaid}
    </select>
    <select id="findVOAll" resultType="MoviePoolApplyVO">
        select * from `MoviePoolApply` mpa,account a where mpa.aid=a.aid order by mpa.applytime desc
    </select>
    <select id="findVOByMpaid" resultType="MoviePoolApplyVO">
        select * from `MoviePoolApply` mpa,account a  where mpa.aid=a.aid and mpa.mpaid=#{mpaid}
    </select>
    <select id="findVOByMpname" resultType="MoviePoolApplyVO">
        select * from `MoviePoolApply` mpa,account a  where mpa.aid=a.aid and mpa.mpname=#{mpname}
    </select>
    <select id="findVOByAid" resultType="MoviePoolApplyVO">
        select * from `MoviePoolApply` mpa,account a  where mpa.aid=a.aid and mpa.Aid=#{Aid}
    </select>


    <insert id="insert">
        insert into `MoviePoolApply` (mpname,aid,applytime) values (#{mpname},#{aid},#{applytime})
    </insert>

    <delete id="delete">
        delete from `MoviePoolApply` where mpaid = #{mpaid}
    </delete>

</mapper>